$text-color: #3d495a;
$background-color: #f5f6f8; 
$contrast-one: #83c64b;
$contrast-two: #bdd840;
$contrast-three: #96a4b7;

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,600,800,800i');
$default-font: 'Montserrat', sans-serif;


$mobile_size: 479px;
$tablet_size: 767px;
$desktop-size: 991px;