$text-color: #3d495a;
$background-color: #f5f6f8; 
$contrast-one: #83c64b;
$contrast-two: #bdd840;
$contrast-three: #96a4b7;

$default-font: 'Montserrat', sans-serif;


$mobile_size: 479px;
$tablet_size: 767px;
$desktop-size: 991px;